input.invalid {
    border: 2px inset red;
    background-color: #FF0;
}

#error {
    margin-bottom:0px;
    margin-top: 0.45em;
    display: none;
}

.toCenter {
    max-width: 400px;
    min-width: 200px;
    width:26.666%;
    margin: 0 auto;
}

.toDown {
    margin-top:4%;
}

#chooseRole {
    display: none;
}

.slim {
    padding-left:4em;
    padding-right:4em;
}

.short {
    padding-top:0.23em;
    padding-bottom:0.23em;
}

.form-input {
    height:25px;
}

.word-left {
    padding-left:3.5px;
}


.littleDown {
    margin-top:2%;
}

.tohidden {
    display:none;
}