<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="sqlStr" connectionString="server=180.209.64.32;Database=hospital;Uid=root;Password=njupt_iot123"/>-->
    <add name="sqlStr" connectionString="server=localhost;Database=hospital;Uid=root;Password=root"/>
    <!--<add name="sqlStr" connectionString="server=192.168.1.110;Database=hospital;Uid=root;Password=123456"/>-->
  </connectionStrings>
  <appSettings>
    <add key="swfToolPath" value="~/plugin/SWFTools/pdf2swf.exe"/>
    <add key="uploadPath" value="~/upload/uploadpdf/"/>
  <add key="HIS.Service" value="http://194.1.9.243/Service.asmx"/>
  </appSettings>
  <system.web>
    <sessionState mode="InProc" timeout="1440"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
    </compilation>
    <pages validateRequest="false"/>
    <httpRuntime maxQueryStringLength="2097151" maxRequestLength="2097151" targetFramework="4.5" requestValidationMode="2.0"/>
  </system.web>
</configuration>