#tableArea,#printArea > table {
    text-align:center;
}
#printArea td, #printArea th {
    border: 1px solid #333;
}

#addGroup > tbody > tr > th, #editArea > tr > th {
    width:20%;
}

.removePadding {
    padding: 0px;
}